
.comment{
    
    overflow: hidden;
    display: flex;
}
.hide-comment{
   border: none;
  
    height: max-content;
    background-color: transparent;
    
    
}
.hide-comment:hover{
    border-left: 2px solid red;
}
ul{
    width: 50%;
}
.comment-body{
    margin-left: 10px;
    
    
}
.line{
    text-align: start;
}
.line >svg {
    width: 10px;
    height: 100%;
    cursor: pointer;

}
.line-reply{
   
}
.line-reply >svg {
    width: 10px;
    height: 100%;
    cursor: pointer;

}
.comment-line{
    display: flex;
    
}


.vote{
    width: 80px;
    text-align: center;
    
    
}
.vote> app-vote{
    display: flex;
    
}
.nested{
    background-color: azure;
    width: 100%;
    overflow: hidden;
}
.comment-body{
    flex-direction: column;
    
}
.comment-desc{
    overflow: hidden;
}
app-rich-text-editor{
    margin: 10px 10px 0 40px;
    display: block;
    margin-bottom: 10px;
}
.comment-bar{
    margin: 10px 0 10px 0;
    display: flex;
   
}
.reply >span{
    background-color: #eee;    
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.comment-head{
   z-index: 10;
   background-color: #fff;
   height: 30px;
   display: block;
}

/* .comment-box{
    display: none;
} */
